.bienvenida{
    background-image: url("fondo1.jpg");
    height: 100vh;
   background-repeat : no-repeat;
   background-size : cover;
   animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    0% {opacity: 0;
    filter: blur(20px);}
    10% {
        opacity: 1;
        filter: brightness(2) blur(10px);
    }
}