.search__input {
    background-color: hsla(0, 4%, 9%, 0.849);
    border: none;
    color: #ffffff88;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 21.7em;
    transition: all ease-in-out .5s;
    margin-right: -3rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000005;
    border: 1px solid rgb(94, 0, 117);
  }
  
  .search__input:focus {
    outline: none;
    background-color: #080808;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: rgba(255, 255, 255, 0.685);
  }
  
  .search__input:focus + .search__button {
    background-color: #05050500;
  }
  
  .search__button {
    border: none;
    border-radius: 50px;
    
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    fill: #b4b4b4;
  }

  .asa{
    background-color: rgb(109 40 217);
    color: white;
    border-radius: 50px;
  }